body
{
background-image:url("7.jpg");
background-size:cover;
}
h1
{
 text-align: center;
 background-color: black;
font-size: 80px;
color: gold;
}


h4
{
  color: greenyellow;
  }

ul
{
list-style-type:none;
overflow:hidden;


}
li
{
float:left;
padding:35px;
font-size: 40px;
color: aquamarine;
font-style: italic;
}
h2
{
color:white;
}


.div1
{
  
  margin: 0;
  width: 100%;
  
}

.c2
{
  color: goldenrod;
}
.d1
{
  color: mediumspringgreen;
  font-style: italic;
  font-size: 20px;
  
}
.d2
{
  color: goldenrod;
  font-style: italic;
  font-size: 20px;
}
.y1,.y2,.y3
{
  border: solid whitesmoke;
  border-width: 5px;
  width: 180px;
  height: 250px;
  position: relative;
  left: 45%;
  color: greenyellow;
  
}
.efg
{
  text-decoration: none;
  color: greenyellow;
}

#z:hover
{
  transform:scale(1.5,1.5)

}

.y1:hover
{
  transform: scale(1.25,1.25);
  transition:10s;
}
.y2:hover
{
  transform: scale(1.25,1.25);
  transition:10s;
}
.y3:hover
{
  transform: scale(1.25,1.25);
  transition:10s;
}


